<div class="aboutpicture" class="row">
	<div class="one column"></div>
	<div class="ten columns">
		<div class="abouttext">
		<p> They said learning to code would be hard. Well, you did it. Now let us guide you through the process of writing your cover letter and résumés.</p>

		<p>résumé_hackers is a full service résumé consulting and editing service for developers. We know tech and can help you compose job materials that show you at your best. We'll help you figure out what to put where and help you debug before shipping.</p>

		<p>Visit our <a href="services.erb" class="aboutlink">services page</a> for a description of what we offer or <a href="form.erb" class="aboutlink">set up an appointment</a> for a free 15-minute consultation.</p>
		</div>
	</div>
	<div class="one column"></div>
</div>



