
    	<div class="signup" class="row" >
      		<div class="eight columns">
	        	<p>We offer a free fifteen minute consultation to 
				give you a chance to learn how we work. Fill in your contact
				information below and we will be in touch to schedule a time.</p>
				<form method="POST" action="/signin">
				<label for="name">Full name</label><br>
				<input type="text" name="name"><br>
				<label for="email">E-mail</label><br>
				<input type="text" name="email"><br>
				<label for="message">Let us know a bit about you. How long have you been coding? Where you are interested in working?</label>
				<textarea type="text" name="message"></textarea><br>
				<input type="submit">
				</form>
      		</div>
      		<div class="four columns">
	        	<div id="testimonials">
       				<ul>
						<li>
							<blockquote>This has to be the most awesome app I've ever used!</blockquote>
							<p class="author">John Doe, <a href="#">johndoe.com</a></p>
						</li>
						<li>
							<blockquote>Simply amazing! It solved my problem. I highly recommend it.</blockquote>
							<p class="author">John Smith, <a href="#">johnsmith.com</a></p>
						</li>
						<li>
							<blockquote>A tremendous success. It is like walking on sunshine compared to its competitors.</blockquote>
							<p class="author">Ben Cooper Smith, <a href="#">bencooper.com</a></p>
						</li>
        			</ul>
       			</div>
      		</div>
   	 	</div>
  	

		

    

