
	<div class="signup" class="row" >
		<div class="one column"></div>
  		<div class="ten columns signuptext">
        	<p>We offer a free fifteen-minute consultation to 
			give you a chance to learn how we work. Fill in your contact
			information below and we will be in touch to schedule a time.</p>
			<form method="POST" action="/signin">
			<label for="name">Full name</label><br>
			<input type="text" name="name"><br>
			<label for="email">E-mail</label><br>
			<input type="text" name="email"><br>
			<label for="message">Let us know a bit about you. How long have you been coding? Where are you are interested in working? (We aren't looking for your whole story. Just 25 words or so.</label>
			<textarea type="text" name="message"></textarea><br>
			<input type="submit" style="color:black; background-color: rgb(255,255,255,.8);">
			</form>
  		</div>
  		<div class="one column"></div>
	</div>