<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	
<title><%= @title %></title>
	<link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css">


</head>

<body>
	

	 
	<%
		
		nav = ["home", "about_us", "our_products", "our_services"] 
		pages = ["/", "about", "products", "services"] 


	%>

	<h1 class="greyit">resume_hackers</h1> 

	<!-- start ruby -->	
	<% nav.each_with_index do |nav_item, nav_index| %>
		<li class="navbar">
			<a href="<%= pages[nav_index] %>">
				<%= nav_item %>
			</a>	
		</li>
	<% end %>
	<!-- end ruby -->

	</ul>
	

	<!-- start ruby -->
	<%= yield %>	
	<!-- end ruby -->

	

</body>
</html>