<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
  	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<title><%= @title %></title>
	<link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" type="image/png" href="images/favicon.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/js/scripts.js"></script>
</head>
<body>
<div class="container">
	<%
		nav = ["home", "about_us", "our_services", "sign_up"] 
		pages = ["/", "about", "services","form"] 
	%>

	<h1 class="greyit">résumé_hackers</h1> 
	<ul style="list-style-type: none; padding-left: 0">
	<!-- start ruby -->	
	<% nav.each_with_index do |nav_item, nav_index| %>
		<li class="navbar">
			<a href="<%= pages[nav_index] %>">
				<%= nav_item %>
			</a>	
		</li>
	<% end %>
	<!-- end ruby -->
	</ul>
	
	<!-- start ruby -->
	<%= yield %>	
	<!-- end ruby -->
	<footer>
		&copy; résumé_hackers
	</footer> 
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77761842-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>