<div class="row">
	<div class="one column"></div>
	<div class="ten columns">
	<p>
	How we help:</p>

	<p>Talk it out - Nothing is scarier than the blank page. That's why we offer video consultations. You describe your past experiences and current goals. We ask questions to help you generate ideas and decide what to include. After the session, you'll get a copy of our notes and a template you can use to get started.</p>

	<p>Make it shine - We'll review a draft of your resume from the perspective of a potential hiring manager. You'll receive feedback on how to organize your resume to get noticed and show off your best self. </p>

	<p>Make it shine - We'll review a draft of your resume from the perspective of a potential hiring manager. You'll receive feedback on how to organize your resume to get noticed and show off your best self.</p>

	<p>Proofreading - A misplaced comma can derail your chance at your dream job. We'll review your final draft to find the errors that your word processing grammar check misses. You'll get a chance to either accept all of the changes in one batch or review each suggestion on a case by case basis.
	</p>
	</div>
	<div class="one column"></div>
</div>