<div class="row">
	<div class="servicespicture">
		<div class="seven columns servicestext" >
			<p>
			How we help:</p>

			<p>Talk it out - Nothing is scarier than the blank page. That's why we offer video consultations. You describe your past experiences and current goals. We ask questions to help you generate ideas and decide what to include. After the session, you'll get a copy of our notes and a template you can use to get started.</p>

			<p>Make it shine - We'll review a draft of your résumé from the perspective of a potential hiring manager. You'll receive feedback on how to organize your résumé to get noticed and show off your best self. </p>

			<p>Proofreading - A misplaced comma can derail your chance at your dream job. We'll review your final draft to find the errors that your word processor's grammar check misses. You'll get a chance to either accept all of the changes in one batch or review each suggestion on a case by case basis.
			</p>
		</div>
		<div class="five columns">
			<div id="testimonials">
   				<ul>
					<li>
						<blockquote>I hate writing, but résumé_hackers made the process easy and less overwhelming!</blockquote>
						<p class="author">Jack Wright, <a href="#">jwright.com</a></p>
					</li>
					<li>
						<blockquote>So supportive! They helped me get the job of my dreams.</blockquote>
						<p class="author">Beth Carter, <a href="#">bethcarter.com</a></p>
					</li>
					<li>
						<blockquote>I will never write another cover letter without contacting résumé_hackers first.</blockquote>
						<p class="author">Fiona Wilhelm, <a href="#">fifisworld.org</a></p>
					</li>
    			</ul>
       		</div>
		</div>
	</div>
</div>